@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap");
body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  margin-top: 0;
}

#title {
  width: 600px;
  background-color: black;
  font-family: "Merienda", cursive;
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: -300px;
}
.people {

  padding-top: 100px;
}
.photos {
  width: 500px;
  height: 300px;
  margin-top: 10px;
  border-radius: 20px;
}
.photos:hover {
  border: 2px solid red;
}
