@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: content-box;
}
body {
  background-color: black;
  color: white;
  /* padding: 4px; */
}
.container {
  background-color: #272626;
  margin: auto;
  width: 80%;
  border-radius: 20px;
}
header {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 90px;
}
span#title {
  color: red;
}
img {
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 500px red;
}
section {
  padding: 0 10%;
}

#info {
  font-size: 1.5rem;
  text-align: justify;
}

h2 {
  font-family: "Lobster", cursive;
  color: red;
}
ul {
  font-size: 24px;
  line-height: 3rem;
  list-style-position: outside;
  padding-inline-start: 20px;
}
footer {
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
}

#link {
  color: white;
  border: 2px solid darkorange;
  padding: 1rem;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
}

#link:hover {
  color: red;
  background-color: rgb(47, 45, 45);
}
